<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Task1" parallel="tests">
 	<test name="SeleniumTask">
	<parameter name="ReportName" value="countSheep" />
 	<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="utilities.ExtentReport" />
			<class name="utilities.TestBase" />
			<class name="pages.PageObject" />
			<class name="testRunner.CountSheepRunner" />

		</classes>
	</test>
<!--  	 	<test name="ProductOrderFirefox">
	<parameter name="ReportName" value="ProductOrderFirefox" />
 	<parameter name="Browser" value="Firefox" />
		<classes>
			<class name="utilities.ExtentReport" />
			<class name="utilities.TestBase" />
			<class name="pages.PageObject" />
			<class name="testRunner.CountSheepRunner" />
			<class name="testRunner.SeleiniumTaskRunner" />
		</classes>
	</test> -->
</suite>